@media screen and (min-width: 1980px) {
  .infrastructure__info {
    gap: 52px;
  }
}

@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1200px) {
  .footer__info strong {
    font-size: 20px;
}

}
@media screen and (max-width: 1024px) {
  .info__flex {
    justify-content: space-between;
    gap: 0;
  }
  .infrastructure__info {
    justify-content: space-evenly;
  }
}
@media screen and (max-height: 992px) {
  .modal__dialog{
    margin: 0;
  }
}


@media screen and (max-width: 992px) {
  .choice {
    &__text {
    bottom: 52%; /* Исправлено дублирование */
    @include adaptiv-value("width", 700, 280, 0);
    right: 5%;
    p {
      @include adaptiv-value("font-size", 43, 16, 0);
    }
  }
}
  .choice__block {
  height: 980px;
  }
  .floor-plan-container {  
    transform: rotate(270deg)  translate(-10px, -150px) ;
    // clip-path: inset(0 200px 0 0);
    width: 904px;
    height: 525px;
  }
  .info__flex {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
  .project__image .project__badge{
    top: 24%;
    left: 30%;
  }
  .infrastructure__image .infrastructure__badge {
    top: 33%;
    left: 24%;
  }
  .main{
    height: 660px;
  }
  .input {
    flex-direction: column;
    input {
      @include adaptiv-value("width", 700, 300, 0);
    }
  }
}
@media screen and (min-width: 830px) {
  .project__title-830 {
    display: none;
  }
}
@media screen and (max-width: 830px) {


  .choice__text {
    @include adaptiv-value("width", 700, 150, 0);

    p {
      @include adaptiv-value("font-size", 37, 16, 0);
    }
  }
  .footer__logo {
    margin-left: 0;
}
 
  .big__button svg {
    height: 60px;
    width: 60px;
}
  .btn.big__button span {
    padding: 15px 25px;
}
  .project__items {
    flex-direction: column;
  }
  .project__title {
    display: none;
  }
  .project__image {
    width: 75%;
  }
  .project__image {
    @include adaptiv-value("margin-bottom", 30, 10, 0);
  }
  .infrastructure__items {
    flex-direction: column;
  }
  .infrastructure__image {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .choice__text {
    @include adaptiv-value("width", 700, 100, 0);

    p {
      @include adaptiv-value("font-size", 30, 16, 0);
    }
  }
  .main__address{
    font-weight: 700;
  }
   .header__phone{
   color: $primary-color;
   text-decoration: underline;
}
  .tabs .tabs__trigger {
    padding: 19px 20px;
  }
  .features {
    flex-direction: column;
    .feature-item {
      flex: 0 0 90%;
    }
    
  }
  
 
  .swiper-slide img {
    height: 289px;
}
  .swiper {
    height: auto;
}
  .infrastructure__title svg {
    width: 20%;
  }
}

@media screen and (max-width: 655px) {

  .choice__block {
    overflow: auto;
    }

    .floor-plan-container {
      // transform: rotate(270deg)  translate(10px, -170px) ;
      // // mask: linear-gradient(to right, black 50%, transparent 50%);
      // width: 900px;
      transform: rotate(270deg) translate(10px, -170px);
      width: 900px;
      height: auto;
      position: absolute;
      top: 24%;
      left: 0%;
      transform: translateX(0%) rotate(270deg) translate(10px, -170px);
      img {
        width: 900px;
      }
    }
  .buttons {
    flex-direction: column;
    gap: 32px;
  }
 
  .footer__info-link a {
    font-size: 20px;
}
  footer p,.footer__soc,.footer__soc p {
    font-size: 20px;
}
  .main__banner {
    text-align: center;
    .btn{
      margin: auto;
    }
}
  .infrastructure__info-item {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .d-none{
    display: block;
  }
.d-block{
  display: none;
}
.d-none {
  .choice__text{
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    right: none;
    position: relative;
    margin-bottom: 5%;
    width: 100%;
    p {
      @include adaptiv-value("font-size", 40, 16, 0);
    }
  }
}
  .floor-plan-container {
    top: 23%;
  }
  .choice__block {
    min-height: 1030px;
  }
  .choice__text {
    @include adaptiv-value("width", 700, 350, 0);
   // position: static;
    right: 0;
    bottom: 0;
   // padding-top: 800px;
  }

  .tabs__trigger {
    padding: 15px 24px;
    //width: 70%;
        margin: auto;
   
}

}

@media screen and (max-width: 470px) {
  .choice__text {
    //@include adaptiv-value("width", 700, 300, 0);
    //right: -91%;

  
  }
  .tour-block {

    border: none;
    justify-content: center;
  }

  .infrastructure__title svg:nth-child(1){
  display: none;
  }
  .infrastructure__title svg:nth-child(2)
  {
    display: inline-block;
  }

  .project__image {
    width: 100%;
  }
  .infrastructure__title svg {
    width: 34%;
  }
}

