@import "../sass/mixins";
@import "../sass/variables";
@import "../sass/normalize";
@import "../sass/blocks/header";
@import "../sass/blocks/project";
@import "../sass/blocks/sheme";
@import "../sass/blocks/infrastructure";
@import "../sass/blocks/consultation";
@import "../sass/blocks/location";
@import "../sass/blocks/ipoteka";
@import "../sass/blocks/step";
@import "../sass/blocks/gallery";
@import "../sass/blocks/footer";
@import "../sass/blocks/modal";
@import "../sass/media";
/* styles.scss */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $text-color;
}
h2 {
  font-weight: 700;
  @include adaptiv-value("font-size", 50, 28, 0);
  line-height: 170%;
  color: $secondary-color;
  margin-bottom: 30px;
  text-align: center;
  svg {
    margin-left: 10px;
  }
}
p {
  font-weight: 400;
  @include adaptiv-value("font-size", 20, 16, 0);
}
a {
  color: $secondary-color;
  transition: 0.4s;
  &:hover {
    color: $primary-color;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  @include adaptiv-value("padding-top", 50, 20, 0);
  @include adaptiv-value("padding-bottom", 60, 30, 0);
}
.btn {
  background-color: $primary-color;
  border: none;
  transition: background-color 0.3s;
  border-radius: 120px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 700;

  // border:2px solid transparent ;
  &:hover {
    background-color: rgba(255, 201, 86, 0.541);
    -webkit-box-shadow: none;
    color: $primary-color;
    box-shadow: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    box-shadow: 0 0 12px rgba(17, 2, 2, 0.164);
    color: $secondary-color;
    //color: $primary-color;
    // border:2px solid $primary-color ;
  }
  &:active {
    background-color: #ffc956b2;
  }
}
.btn-notbg {
  background-color: transparent;
  border: 2px solid $primary-color;
  border-radius: 120px;
  padding: 15px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: $primary-color;
  transition: background-color 0.3s;
  &:hover {
    background-color: $primary-color;
    color: $secondary-color;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  &:active {
    background-color: #ffc956b2;
  }
}
.call-button {
  font-size: 17px;
  span {
    @include adaptiv-value("padding", 20, 10, 0);

  }
  svg {
    border-left: 3px solid #3f372c;
    border-radius: 100%;
  }
}

.big__button {
  @include adaptiv-value("font-size", 25, 16, 0);
  
  svg {
    border-left: 5px solid #3f372c;
  }
  span {
    padding: 25px 40px;
  }
}
// Медиазапросы для адаптивности
@media (max-width: 768px) {
  .project {
    flex-direction: column;
  }
  .project__image,
  .project__content {
    flex: 1;
  }
}

.is-selected {
  display: block;
}








.logo {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

/* Стили навигации */
.nav__list {
  display: flex;
  list-style: none;
}

.nav__link {
 
  text-decoration: none;
  padding: 10px 15px;
}

/* Стили для бургер-меню */
.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.burger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease;
}

/* Адаптивный стиль */
@media (max-width: 768px) {
  .nav {
    display: none;
  }
  .burger {
    display: flex;
  }

  /* Открытое мобильное меню */
  .nav.active {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
  }
  
  .nav__list {
    flex-direction: column;
    align-items: center;
  }

  /* Анимация иконки бургера на крестик */
  .burger.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .burger.open span:nth-child(2) {
    opacity: 0;
  }

  .burger.open span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}



.choice{
&__text{
  color:$secondary-color;
}
  &__block{
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
  }
}
.floor-plan-container {
  position: relative;
  max-width: 100%;
  background-color: #fff;

  }
  
  .floor-plan-container img {
  width: 100%;
  height: auto;
  }
  
  /* Кликабельные области */
  .clickable-area {
    cursor: pointer;
  position: absolute;
  background-color: rgba(51, 49, 49, 0.288); /* прозрачный цвет для визуализации */
  &:hover{
    background-color: transparent;
  }
}
  
  /* Пример для секций */
  .section1 {
  
     top: 3%;
    left: 1%;
    width: 15%;
    height: 20%;
    clip-path: polygon(0% 0%,100% 0%,100% 30%,100% 100%,13% 100%,13% 72%,0% 72%,0% 30%);
  }
  .section2 {
    top: 3%;
    left: 16%;
    width: 8%;
    height: 20%;


 }

 .section3 {
  top: 3%;
  left: 24%;
  width: 8%;
  height: 20%;

}
.section4 {
  top: 3%;
  left: 32%;
  width: 9%;
  height: 20%;
}
.section5 {
  top: 3%;
  left: 41%;
  width: 8%;
  height: 39%;   
 // clip-path: polygon(100% 0%,100% 61%,87% 61%,87% 100%,0% 100%,0% 41%,36% 41%,36% 0%);

}
.section6 {
  top: 3%;
  left: 53%;
  width: 7%;
  height: 20%;
}
.section7 {
  top: 3%;
  right: 32%;
  width: 8%;
  height: 20%;
}
.section8 {
  top: 3%;
  right: 27%;
  width: 5%;
  height: 39%;
}

.section9 {
  top: 3%;
  right: 15%;
  width: 12%;
  height: 20%;
}

.section10 {
  top: 3%;
  right: 0.6%;
    width: 14.4%;
  height: 20%;
}

.section11 {
  top: 23%;
  right: 0.6%;
  width: 10.3%;
  height: 14%;
}

.section12 {
  top: 37%;
  right: 0.6%;
  width: 16.2%;
  height: 15%;
  clip-path: polygon(100% 0%,100% 61%,87% 61%,87% 100%,0% 100%,0% 41%,36% 41%,36% 0%);
}
.section13 {
  top: 23%;
    right: 20%;
    width: 7%;
    height: 19%;
}
.section14 {
  top: 29%;
  right: 32%;
  width: 8%;
  height: 13%;
}
.section15 {
  top: 3%;
  left: 49%;
  width: 4%;
  height: 39%;
}
.section16 {
  top: 23%;
  left: 21%;
  width: 8%;
  height: 19%;
}
.section17 {
  top: 23%;
  left: 1%;
  width: 11%;
  height: 30%;
}

.section18 {
  top: 53%;
  left: 1%;
  width: 19%;
  height: 8%;
}

.section19 {
  top: 61%;
  left: 11%;
  width: 11%;
  height: 13%;
}

.section20 {
  top: 74%;
  left: 11%;
  width: 11%;
  height: 22%;
}

.section21 {
  top: 72%;
  left: 1%;
  width: 8%;
  height: 17%;


}