/*modal ЗАЯВКА*/
.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  //display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(143, 177, 152, 0.45);
  -webkit-backdrop-filter: blur(3.5px);
  backdrop-filter: blur(3.5px);
  .call-button {

    @include adaptiv-value("font-size", 17, 14, 0);
}
  img{

    @include adaptiv-value("width", 270, 200, 0);
  
}

  .politics a {
    color: $primary-color;
    text-decoration: underline;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  .input {
    flex-direction: column;
    input {
      border: 2px solid $primary-color;
    }
  }
}
.modal .contacts__form {
  gap: 40px;
}

.modal .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: calc(12px + 2 * (100vw - 320px) / 1380);
  margin: auto;
  max-width: 600px;
}

.modal .form p {
  margin-bottom: calc(15px + 15 * (100vw - 320px) / 1380);
}

.modal__dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 100%;
  overflow: auto;  
  margin: 40px auto;
}

.modal__content {
  position: relative;
  @include adaptiv-value("padding",40, 20, 0);
  background-color: $text-color;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(133, 143, 164, 0.1);
  box-shadow: 0px 10px 30px 0px rgba(133, 143, 164, 0.1);
  border-radius: 4px;
  overflow-y: auto;
  overflow-x: auto;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  //max-width: 576px;
  //@include adaptiv-value("width",575, 300, 0);
  text-align: center;
  color: $secondary-color;
  scrollbar-width: thin;
  scrollbar-color: #FFCA56 #000000;
  &::-webkit-scrollbar {
    width: 5px; /* Ширина всего элемента навигации */
  }
  
  &::-webkit-scrollbar-track {
    background: #948686; /* Цвет дорожки */
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #3d3d3d; /* Цвет бегунка */
    border-radius: 20px; /* Округление бегунка */
    border: 3px solid #050c26; /* Оформление границ бегунка */
  }
  
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modal__close {
  position: absolute;
  top: 0%;
  right: 2%;
  font-size: 40px;
  color: $secondary-color;
  border: none;
  padding: 0;
  cursor: pointer;
}

.modal__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  @include adaptiv-value("font-size", 30, 22, 0);
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
// .active {
//   display: block;
// }
.hide {
  display: none;
}

.show {
  display: block !important;
}

.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
.active {
  display: block;
}

.modal-thank {
  text-align: center;
}
.modal-thank img {
  max-width: 145px;
}
.modal-thank .btn {
  margin-top: 60px;
  max-width: 50%;
}

.tabs{
.tabs__tab-list {
  display: flex;
  list-style: none;
  margin-bottom: 30px;
  padding: 0;
  justify-content: center;
  @include adaptiv-value("gap", 30, 20, 0);
  flex-wrap: wrap;


}

.tabs__trigger2 {
  padding: 19px 30px;

  border-radius: 120px;
  display: block;
  font-weight: bold;
  margin: 0 5px;
  text-decoration: none;
  background: transparent;
  border: 2px solid $primary-color;
  color: $primary-color;
  cursor: pointer;
  @include adaptiv-value("font-size", 18, 16, 0);


  &.is-selected {
    border: 2px solid transparent;
    background: $primary-color;
    color: #000;
  }
}

.tabs__panel {
 // display: none;
  &-text {
    margin-top: 20px;
    @include adaptiv-value("margin-bottom",40, 20, 0);
    @include adaptiv-value("font-size",20, 16, 0);
    text-align: left;

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    h3 {
      @include adaptiv-value("font-size", 22, 16, 0);
      margin-bottom: 10px;
    }
  }
  .is-initialized & {
    display: inherit;
    text-align: center;
  }

  &.is-hidden {
    display: none;
  }
}
}


.modal__section{
  max-width: 490px;
  h4{
    @include adaptiv-value("font-size", 18, 16, 0);
    margin-bottom: 20px
  }
  h3{
    @include adaptiv-value("font-size", 22, 14, 0);
      margin-bottom: 10px;
  }
  p{
    margin-top: 20px;
    @include adaptiv-value("margin-bottom",40, 20, 0);
    @include adaptiv-value("font-size",20, 14, 0);
    text-align: left;
  
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
.modal-display{
  .call-button svg{
    @include adaptiv-value("width",50, 30, 0);
    @include adaptiv-value("height",50, 30, 0);
  }
  display: flex;
  gap: 10px;
  justify-content: space-around;
  width: 100%;
}
.modal-choice{
.modal__content{
position: initial;
  //max-width: 1050px;
}
}
.tabs__panel-img{
  height: 188px;
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 1;
margin: 10px;
img{
  max-height: 100%;
max-width: 100%;
object-fit: contain;
}
}



.modal__content.one-section {
  //width: 400px;
  @include adaptiv-value("width",650,300 , 0);

  }
  .modal__content.two-sections {
  @include adaptiv-value("width",1050,300 , 0);
  }
  .tabs .tabs__tab-list {
    display: none;
}

/* Показываем табы только на мобильных устройствах */
@media (max-width: 768px) {
  .tabs__panel-img{
height: auto;
  }
  .modal-display{
    flex-direction: column;
  //@include adaptiv-value("width", 600, 450, 0);
  width: auto;
  }
  .tabs .tabs__trigger2 {
    //width: 70%;
    margin: auto;
  }
    .tabs .tabs__tab-list {
        display: flex; /* Или другой подходящий стиль */
        flex-direction: column; /* Расположение табов в столбик */
    }
}