.choice {

  background-image: url(../img/choice-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // .choice__sheme
h2{
  color: $text-color;
}
  &__sheme {
  }
}

.infrastructure {

  // .infrastructure__title

  &__title {
  }
}
